.Header {
  display: flex;
  border: 1px solid #202226;
  border-width: 0px 0px 1px;
}
.HeaderTitle {
  font-weight: 700;
  font-size: 20px;
}
.Content {
  padding: 20px 100px;
}
.ContentRow {
  display: flex;
}
.HeaderTitleContent {
  opacity: 0.7;
}
.editTitle {
  width: 30%;
  text-align: end;
}
.editContent {
  margin-left: 20px;
}
.ContentError {
  margin-bottom: 20px;
}
.messageError {
  font-size: 12px;
  color: red;
}
.btnSubmit {
  background-color: #ccc;
  padding: 5px;
}
@media (max-width: 1200px) {
  .ContentRow {
    display: block;
  }
  .inputEdit {
    margin-left: 0px;
  }
}
