.wrapperInfoMenu {
  position: fixed;
  top: 64px;
  left: 0;
  width: calc((33% - 40px));
}
.infoMenu {
  list-style: none;
  padding: 0px;
}
.infoMenu span {
  padding-left: 20px;
}
.infoMenuItem {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 15px 0px 15px 20px;
  margin-bottom: 10px;
  font-size: 16px;
  border-top-right-radius: 20;
  &:hover {
    cursor: pointer;
    background-color: #ccc;
    opacity: 0.5;
  }
}
.infoMenu .actived {
  background-color: #ccc !important;
  opacity: 1;
}

@media (max-width: 1200px) {
  .wrapperInfoMenu {
    position: inherit;
    width: 100%;
  }
  .infoMenuItem {
    border-radius: 30px;
  }
}
