.InfoUserList {
  padding: 20px 0px;
  list-style: none;
}
.InfoUserListItem {
  padding: 20px 20px;
  display: flex;
  border: 1px solid #202226;
  border-width: 0px 0px 1px 0px;
}
.hideEdit {
  &:hover {
    cursor: pointer;
    background-color: rgba($color: #000, $alpha: 0.2);
  }
}
.ItemTitle {
  font-weight: 700;
  width: 20%;
}
.ItemContent {
  flex-grow: 1;
}
.displayFlexCol {
  display: flex;
  flex-direction: column;
}
.editRow {
  display: flex;
  margin-bottom: 20px;
}
.editTitle {
  font-weight: 600;
  opacity: 0.7;
}
.btnEdit {
  padding: 5px;
  margin: 0 10px;
}
.btnConfirmEdit {
  background-color: #ccc;
}
.inputEdit {
  margin-left: 20px;
  color: black;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.inputRadioSex {
  margin: 5px;
}
.errMess {
  color: red;
  padding-left: 10px;
}
